.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.band-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}

.band-list{
    width: calc(20% - 10px); 
    margin: 5px;
}