body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.header-navbar {
    width: 98vw;
    background-color: #000080;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .navbar-img{
    width: 50px;
    height: 50px;
    margin-left: -20px;
  }
  
  .header-navbar p {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 3rem;
    text-decoration: underline;
    margin-left: 20px;
  }

/*Body Style*/

.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}


.product-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 20px 10px 20px;
    padding: 20px;
    transition: 0.2s;
    background-color: #ffffff;
  }


.product-card:hover{
  transform: scale(1.1);
}
  
  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-info h3 {
    margin: 0;
    color: #000090;
    margin-bottom: 10px;
  }
  
  .product-info p {
    margin: 5px 0;
  }
  
  .product-info strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .buy-button .btn {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #000066;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .buy-button .btn:hover{
    background-color: #000090;
    color: #ffffff;
  }

  .buy-button .btn:active{
    background-color: #ffff7f;
    color: #000066;
  }

/*Footer*/

.footer {
    width: 99vw;
    background-color: #404040;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
  }
