<mat-card class="example-card">
  <img mat-card-image src="https://media.stubhubstatic.com/stubhub-v2-catalog/d_defaultLogo.jpg/q_auto:low,f_auto,c_fill,g_auto,w_1200,h_300/categories/51187/6348922" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Daniel Caesar's Biodata</mat-card-title>
      <mat-card-subtitle>Singer</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        Daniel Caesar is a Canadian singer and songwriter. He was born on XX, XXXX, in XXXX, Canada.
      </p>
      <p>
        Daniel Caesar is known for his deep and soulful music. He released his debut album, "Freudian," in XXXX, which received critical acclaim from music critics and fans alike.
      </p>
      <h2>Popular Songs</h2>
      <p>Get You</p>
      <p>Best Part</p>
      <p>Japanese Denim</p>
    </mat-card-content>
</mat-card>
