<mat-drawer-container class="example-container">
    <mat-drawer class="example-sidenav" mode="side" opened>
      <div class="section-title">
        <h2>DIALOG</h2>
      </div>
      <hr>
      <div class="toolbar" *ngIf="showFiller">
        <mat-toolbar-row>
          <button mat-button (click)="switchLanguage('en')">
            <img src="https://cdn-icons-png.flaticon.com/128/3909/3909136.png?ga=GA1.1.114240843.1691567014&track=ais" class="example-icon">
            <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
            <span >English</span>
            <span class="example-spacer"></span>
          </button>
        </mat-toolbar-row>  
        <mat-toolbar-row>
          <button mat-button (click)="switchLanguage('id')">
            <img src="https://cdn-icons-png.flaticon.com/128/323/323372.png?ga=GA1.1.114240843.1691567014&track=ais" class="example-icon" >
            <span >Indonesian</span>
            <span class="example-spacer"></span>
          </button>
        </mat-toolbar-row>  
  
      </div>
      <div>
        <button class="menu-button" (click)="showFiller = !showFiller" mat-raised-button>
          {{"swichLang" | translate}}
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <router-outlet ></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
