body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color:#ffffff
  }
  
  .header-navbar {
    background-color: #1DB954;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .header-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-navbar li {
    display: inline;
  }
  
  .header-navbar li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .header-navbar li a.active {
    border-bottom: 2px solid #ffffff;
  }

  .main-content {
    padding: 30px;
  }
  
  .about-section,
  .process-section,
  .company-section {
    margin-bottom: 30px;
  }
  
  .about-section h2,
  .process-section h2,
  .company-section h2 {
    color: #1DB954;
  }

  .footer {
    background-color: #1DB954;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
  }