 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color:#ffffff
  }
  
  .header-navbar {
    background-color: #1DB954;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .header-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-navbar li {
    display: inline;
  }
  
  .header-navbar li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .header-navbar li a.active {
    border-bottom: 2px solid #ffffff;
  }

  .body{
    display: flex;
    flex-direction:row;
  }

  .body-left{
    width: 30%;
  }

  .body-right{
    margin-left: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body-right-card{
    display: flex;
    flex-wrap: wrap;
  }

  .main-content {
    padding: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    font-size: 16px;
  }
  
  .profile-info h2 {
    margin: 0;
    color: #1DB954;
  }
  
  .profile-info p {
    margin: 5px 0;
  }
  
  .profile-info strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .followers {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .followers-count,
  .following-count {
    text-align: center;
  }
  
  .followers-count p,
  .following-count p {
    font-size: 24px;
    font-weight: bold;
    color: #1DB954;
    margin: 0;
  }
  
  .followers-count span,
  .following-count span {
    color: #333333;
  }

  .playlist-card {
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .playlist-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .playlist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .playlist-title h3 {
    margin: 0;
    color: #1DB954;
  }

  .footer {
    background-color: #1DB954;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
  }