.container{
    width: 80%;
    margin-left: 115px;
    margin-top: 40px;
}

.mat-elevation-z8{
    width: 100%;
}


.mat-colomn-name, .mat-colomn-user_type, .mat-colomn-email, .mat-colomn-status {
  width: 25%;
}

.tb{
    display: flex;
    flex-direction: column  }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: none
  }

@media screen and (max-width: 768px) {
    .container {
      margin-left: 0; /* Menghapus margin kiri pada layar kecil */
    }
    .mat-elevation-z8 {
      overflow-x: auto; /* Menambahkan scroll horizontal pada tabel jika diperlukan */
    }

    .mat-header-cell[name], .mat-cell[name],
    .mat-header-cell[user_type], .mat-cell[user_type],
    .mat-header-cell[email], .mat-cell[email] {
      width: auto; /* Mengatur lebar menjadi otomatis */
      flex: 1; /* Memberikan elemen fleksibel */
    }
  }
  